Section-02/.pytest_cache
Section-02/__pycache__/

venv/
venv2/
.vscode/settings.json
.gitignore
Section-04/__pycache__/
Section-06/resources/__pycache__/
Section-06/models/__pycache__/
Section-06/__pycache__/
